.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Adjust height as needed */
    width: 60%; /* Adjust width as needed */
    margin: auto; /* Center horizontally */
    border: 2px solid #f0f0f0; /* Border around the login container */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Off white shadow */
    margin-top: 7%;
  }
  
 
  
  .logo {
    width: 200px;
    height: auto;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    
    border-radius: 10px;
  }
  
  .form-title {
    text-align: center;
    font-family: Arial, sans-serif; /* Choose appropriate font */
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
#name{
    width: 300px;

}
#password{
    width: 300px;
    
}