.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  width: 100%;
  max-width: 1280px; /* Adjusted to allow more space */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 50px;
}

.chart-container > div {
  width: calc(33.333% - 20px); /* Equal width for three charts in one row */
  margin: 10px; /* Space between charts */
  height: 400px;
   margin-bottom: 50px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1024px) {
  .chart-container > div {
    width: 100%;
    max-width: 400px;
  }
}

/* Heading styles */
h1, h2 {
  text-align: center;
  color: #333;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  color: #555;
  margin-top: 20px;
}
