.right-column-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-input,
  .select-input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 200px;
  }
  
  .apply-filters-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .apply-filters-button:hover {
    background-color: #0056b3;
  }
  
  .meter-management-buttons {
    margin-bottom: 20px;
  }
  
  
  
  .table-container {
    overflow-x: auto;
    overflow-y: auto; /* Ensures vertical scrolling */
    max-height: 900px; /* Adjust this height as needed */
  }
  
  .meter-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .meter-table th,
  .meter-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .meter-table th {
    background-color: #007bff;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1; /* Ensures the headers are above the table rows */
  }
  
  .meter-table td {
    background-color: #fff;
  }
  
  .meter-table td:first-child {
    font-weight: bold;
  }
  
  .meter-table .edit-icon,
  .meter-table .delete-icon {
    cursor: pointer;
    color: #007bff;
    margin: 0 5px;
  }
  
  .meter-table .edit-icon:hover,
  .meter-table .delete-icon:hover {
    color: #0056b3;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* High z-index to overlay on top of other content */
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px; /* Max width for larger screens */
    text-align: center;
  }
  
  .close {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
  }
  
  .modal-title {
    margin-top: 0;
    color: #333;
    font-weight: 600;
  }
  
  .dropzone {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .dropzone p {
    margin: 0;
    font-size: 1rem;
    color: #666;
  }
  
  .import-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .import-button:hover {
    background-color: #0056b3;
  }
  
  
  .viewToggleBtn {
    background-color: #007BFF; /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-left: 30px;
  }
  
  .viewToggleBtn:hover {
    background-color: #0056b3;
  }
  
  .viewToggleBtn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(34, 193, 195, 0.2);
  }
  
  .delete-meters-button {
    background-color: #f44336;  /* Red background for delete actions */
    color: white;  /* White text color */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  
  .delete-meters-button:hover {
    background-color: #d32f2f;  /* Darken the red on hover */
  }
  
  .delete-meters-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
  .apply-filters-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 20px; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Get the element to line up correctly */
    font-size: 16px; /* Increase font size */
    margin: 10px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 4px; /* Add rounded corners */
    transition-duration: 0.4s; /* Add transition for hover effects */
  }
  
  .apply-filters-button:hover {
    background-color: #45a049; /* Darker green background on hover */
    color: white; /* Keep the text white */
  }
  .table-view-button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .add-meter-button{
    background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Top and Bottom padding 10px, Left and Right padding 20px */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  outline: none; /* No outline */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  margin-bottom: 10px;
  }
  

  .add-meter-button:hover {
    background-color: #45a049; /* Darker shade of green on hover */
  }

  .add-meter-button:focus {
    outline: none; /* Removes the outline to keep focus styles clean */
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);

  }
  .import-button, .export-button {
    margin-left: 10px; /* Space between buttons */
    margin-bottom: 20px;
    padding: 10px;
  
  }
  .export-button {
    color: white;
    background-color: #007bff;
  }